<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <title>Genetic Classification</title>
</head>
<body align="center">
    <h1> This is a Web Application for Genetic Classification</h1>
    <form action="/login" method="post">

    <p>CHROM</p>
        <p><input type="text" name="ch"/></p>
    <p>POS</p>
        <p><input type="text" name="ps"/></p>
    <p>REF</p>
        <p><input type="text" name="rf"/></p>
    <p>ALT</p>
        <p><input type="text" name="at"/></p>
    <p>AF_ESP</p>
        <p><input type="text" name="ap"/></p>
    <p>AF_EXAC</p>
        <p><input type="text" name="ac"/></p>
    <p>AF_TGP</p>
        <p><input type="text" name="ag"/></p>
    <p>CLNDISDB</p>
        <p><input type="text" name="cb"/></p>
    <p>CLNDISDBINCL</p>
        <p><input type="text" name="cl"/></p>
    <p>CLNDN</p>
        <p><input type="text" name="cn"/></p>
    <p>CLNDNINCL</p>
        <p><input type="text" name="cc"/></p>
    <p>CLNHGVS</p>
        <p><input type="text" name="cs"/></p>
    <p>CLNSIGINCL</p>
        <p><input type="text" name="ci"/></p>
    <p>CLNVC</p>
        <p><input type="text" name="cv"/></p>
    <p>CLNVI</p>
        <p><input type="text" name="li"/></p>
    <p>MC</p>
        <p><input type="text" name="mc"/></p>
    <p>ORIGIN</p>
        <p><input type="text" name="on"/></p>
    <p>SSR</p>
        <p><input type="text" name="sr"/></p>
    <p>Allele</p>
        <p><input type="text" name="ae"/></p>
    <p>Consequence</p>
        <p><input type="text" name="cq"/></p>
    <p>IMPACT</p>
        <p><input type="text" name="im"/></p>
    <p>SYMBOL</p>
        <p><input type="text" name="sl"/></p>
    <p>Feature_type</p>
        <p><input type="text" name="fet_type"/></p>
    <p>Feature</p>
        <p><input type="text" name="fet"/></p>
    <p>BIOTYPE</p>
        <p><input type="text" name="bt"/></p>
    <p>EXON</p>
        <p><input type="text" name="ex"/></p>
    <p>INTRON</p>
        <p><input type="text" name="int"/></p>
    <p>cDNA_position</p>
        <p><input type="text" name="cDNA"/></p>
    <p>CDS_position</p>
        <p><input type="text" name="cds"/></p>    
    <p>Protein_position</p>
        <p><input type="text" name="pp"/></p>
    <p>Amino_acids</p>
        <p><input type="text" name="aa"/></p>
    <p>Codons</p>
        <p><input type="text" name="cd"/></p>
    <p>DISTANCE</p>
        <p><input type="text" name="ds"/></p>
    <p>STRAND</p>
        <p><input type="text" name="sd"/></p>
    <p>BAM_EDIT</p>
        <p><input type="text" name="be"/></p>
    <p>SIFT</p>
        <p><input type="text" name="st"/></p>
    <p>PolyPhen</p>
        <p><input type="text" name="php"/></p>
    <p>MOTIF_NAME</p>
        <p><input type="text" name="mn"/></p>
    <p>MOTIF_POS</p>
        <p><input type="text" name="mp"/></p>
    <p>HIGH_INF_POS</p>
        <p><input type="text" name="hip"/></p>
    <p>MOTIF_SCORE_CHANGE</p>
        <p><input type="text" name="msc"/></p>
    <p>LoFtool</p>
        <p><input type="text" name="lft"/></p>
    <p>CADD_PHRED</p>
        <p><input type="text" name="cp"/></p>
    <p>CADD_RAW</p>
        <p><input type="text" name="cr"/></p>
    <p>BLOSUM62</p>
        <p><input type="text" name="bls"/></p>

    <p><input type="submit" value="submit"/></p>


    <h2><b>{{y}}</b></h2>



</form>    
</body>
</html>